<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>挨拶メッセージ</title>
</head>
<body>
  <h1>挨拶メッセージ</h1>

 
  <p>メッセージ1: <%= greet1 %></p>
  <p>メッセージ2: <%= greet2 %></p>


  <a href="/hello1">Hello1のメッセージを表示</a> | 
  <a href="/hello2">Hello2のメッセージを表示</a>
</body>
</html>
